
:root {
    --primary-text-color: ##303030;
    --secondary-text-color: #ffffff;
    --primary-title-color: rgba(157, 164, 189, 0.6);
    --eccent: #FF6C00;
    --primary-description-color: #9DA4BD;
}

/* Body */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none; 
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Header */

.header {
    background-color: #c4c0c0;
}

.header-link {
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.1em;
}

.link:hover,
.link:focus {
    color: var(--eccent);
}

.header-contact {
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
}

.header-btn {
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

/* Hero Section */

.hero {
    background-color: darkkhaki;
}

.social-item-link {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.2em;
}

.hero-pre-titel {
    color: var(--primary-title-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-transform: uppercase
}

.hero-title {
    color: var(--secondary-text-color);
    font-family: 'Raleway' ;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}

.hero-description {
    color: var(--primary-description-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}

/* About Section */

